<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
    	<servlet-name>AmadeusAPIService</servlet-name>
    	<display-name>AmadeusAPIService</display-name>
    	<description></description>
    	<servlet-class>com.java.controller.AmadeusAPIService</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>FlightQuote</servlet-name>
    	<display-name>FlightQuote</display-name>
    	<description></description>
    	<servlet-class>com.java.model.FlightQuote</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>HotelServlet</servlet-name>
    	<display-name>HotelServlet</display-name>
    	<description></description>
    	<servlet-class>com.java.controller.HotelServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>CabServlet</servlet-name>
    	<display-name>CabServlet</display-name>
    	<description></description>
    	<servlet-class>com.java.controller.CabServlet</servlet-class>
    </servlet>
 
 
    

</web-app>